<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thankyou</title>
    <link rel="icon" href="img/core-img/favicon.ico">
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
	<script type="text/javascript">
        history.pushState(null, null, location.href);
        history.back();
        history.forward();
        window.onpopstate = function () { history.go(1); };
    </script>
    <link rel="stylesheet" href="css/style2.css">
</head>
<body style="background-image: url(img/bg-img/bg-3.jpeg)" >

    <div class="main">

        <section class="signup">
            <div class="container">
                <div class="signup-content" style="height: 300px;">
                    <h1 style="background-color: black; margin-bottom: 10px; color: white; padding: 20px; text-align: center; font-size: 40px" >Thank You</h1>
                    <h3 style="margin-bottom:20px; margin-left: 12px;">Order Has Been Placed Successfully!!</h3>
                    <a style="background-color: black; color: white; padding: 13px; font-size: 18px; border-radius: 8px; width:48%; float: left;" href="index.php" >Want to Log Out?</a>
                    <a style="background-color: black; color: white; padding: 13px; font-size: 18px; border-radius: 8px; width:48%; float: right;" href="home.php" >Want To Explore More?</a>
                </div>
            </div>
        </section>

    </div>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>